body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.panell{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    grid-column: 1 / 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 20%;
    font-size: 38px;
}

.memory-next {
    grid-column: 1;
    grid-row: 2;

    align-self: center;
    justify-self: center;

    display: flex;
    width: 220px;
    height: 220px;
    margin: 5px;
    border: 1px solid #000000;
}

.memory-game {
    grid-column: 2;
    grid-row: 2;
    display: inline-block;
}

.memory-message {
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 30px;
}

.buttons{
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
}

.row {
    display: flex;
}

.card {
    width: 130px;
    height: 130px;
    margin: 10px;
    border: 1px solid #000000;
    transition: background-color 0.3s ease;
}

.card:hover {
    cursor: pointer;
}

/* Colores pastel */
.color1 {
    background-color: #ff1650;
}
.color2 {
    background-color: #f299ff;
}
.color3 {
    background-color: #a182ff;
}
.color4 {
    background-color: #2672ff;
}
.color5 {
    background-color: #6cc2ff;
}
.color6 {
    background-color: #35e500;
}
.color7 {
    background-color: #ffe547;
}
.color8 {
    background-color: #ff9d37;
}
.color9 {
    background-color: #c7c7c7;
}

 .button-3 {
     cursor: pointer;
     outline: 0;
     color: #fff;
     background-color: #0d6efd;
     display: inline-block;
     font-weight: 400;
     line-height: 1.5;
     text-align: center;
     border: 1px solid #000000;
     padding: 6px 12px;
     font-size: 25px;
     border-radius: .5rem;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     :hover {
         color: #fff;
         background-color: #0b5ed7;
         border-color: #0a58ca;
     }

 }
